<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.ferry.doc.mapper.DocTemplateParamMapper">
	<resultMap id="BaseResultMap" type="cn.org.ferry.doc.dto.DocTemplateParam">
		<id column="param_id" property="paramId" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result column="template_code" property="templateCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="param_type" property="paramType" jdbcType="VARCHAR" javaType="cn.org.ferry.doc.enums.BookMarkType"
				typeHandler="cn.org.ferry.doc.handlers.BookMarkTypeHandler"/>
		<result column="param_name" property="paramName" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="book_mark" property="bookMark" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="sql_code" property="sqlCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
	</resultMap>
	
	<select id="query" parameterType="cn.org.ferry.doc.dto.model.DocTemplateParamQuery" resultMap="BaseResultMap">
		select
			dtp.param_id,
			dtp.template_code,
			dtp.param_type,
			dtp.param_name,
			dtp.book_mark,
			dtp.sql_code
		from doc_template_param dtp
		where dtp.template_code = #{templateCode}
		<if test="paramName != null and paramName != ''">
			<bind name="paramName" value="'%'+paramName+'%'"/>
			and dtp.param_name like #{paramName}
		</if>
		<if test="bookMark != null and bookMark != ''">
			<bind name="bookMark" value="'%'+bookMark+'%'"/>
			and dtp.book_mark like #{bookMark}
		</if>
		<if test="paramType != null">
			and dtp.book_mark = #{paramType}
		</if>
	</select>
	
	<select id="queryByTemplateCode" parameterType="java.lang.String" resultMap="BaseResultMap">
	select
		dtp.param_id,
		dtp.template_code,
		dtp.param_type,
		dtp.param_name,
		dtp.book_mark,
		dtp.sql_code
	from doc_template_param dtp
	where dtp.template_code = #{templateCode}
	</select>
</mapper>
