<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.ferry.sys.mapper.SysEnumTypeMapper">
	<resultMap id="BaseResultMap" type="cn.org.ferry.sys.dto.SysEnumType">
		<id column="type_id" property="typeId" jdbcType="BIGINT" javaType="java.lang.Long"/>
		<result column="type_code" property="typeCode" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="java_type" property="javaType" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="column_type" property="columnType" jdbcType="VARCHAR" javaType="java.lang.String"/>
		<result column="type_handler" property="typeHandler" jdbcType="VARCHAR" javaType="java.lang.String"/>
	</resultMap>
	
</mapper>
