<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.ferry.sys.mapper.SysAttachmentCategoryMapper">
    <resultMap id="BaseResultMap" type="cn.org.ferry.sys.dto.SysAttachmentCategory">
        <id column="category_id" property="categoryId" jdbcType="BIGINT" javaType="java.lang.Long"/>
        <result column="category_name" property="categoryName" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="source_type" property="sourceType" jdbcType="VARCHAR" javaType="java.lang.String"/>
        <result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" javaType="cn.org.ferry.mybatis.enums.IfOrNot"
                typeHandler="cn.org.ferry.mybatis.handlers.IfOrNotFlagHandler"/>
        <result column="unique_flag" property="uniqueFlag" jdbcType="VARCHAR" javaType="cn.org.ferry.mybatis.enums.IfOrNot"
                typeHandler="cn.org.ferry.mybatis.handlers.IfOrNotFlagHandler"/>
        <result column="attachment_path" property="attachmentPath" jdbcType="VARCHAR" />
    </resultMap>

    <select id="queryBySourceType" parameterType="java.lang.String" resultMap="BaseResultMap">
        select sac.category_id,sac.category_name,sac.source_type,sac.enabled_flag,sac.unique_flag,sac.attachment_path
        from sys_attachment_category sac where sac.source_type = #{sourceType}
    </select>
    
    <select id="query" parameterType="cn.org.ferry.sys.dto.SysAttachmentCategory" resultMap="BaseResultMap">
        select
            sac.category_id,
            sac.category_name,
            sac.source_type,
            sac.enabled_flag,
            sac.unique_flag,
            sac.attachment_path
        from
            sys_attachment_category sac
        <where>
            <if test="categoryId != null">
                and sac.category_id = #{categoryId}
            </if>
            <if test="categoryName != null">
                <bind name="categoryName" value="'%'+categoryName+'%'"/>
                and sac.category_name like #{categoryName}
            </if>
            <if test="sourceType != null">
                <bind name="sourceType" value="'%'+sourceType+'%'"/>
                and sac.source_type like #{sourceType}
            </if>
            <if test="enabledFlag != null">
            and sac.enabled_flag = #{enabledFlag}
            </if>
            <if test="uniqueFlag != null">
            and sac.unique_flag = #{uniqueFlag}
            </if>
        </where>
    </select>
    
    <insert id="insertOne" parameterType="cn.org.ferry.sys.dto.SysAttachmentCategory">
        insert into sys_attachment_category(CATEGORY_NAME,SOURCE_TYPE,ATTACHMENT_PATH, ENABLED_FLAG, UNIQUE_FLAG)
        values(#{categoryName}, #{sourceType}, #{attachmentPath}, #{enabledFlag}, #{uniqueFlag})
    </insert>
</mapper>
