<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.ferry.sys.mapper.SysRoleMapper">
	<resultMap id="BaseResultMap" type="cn.org.ferry.sys.dto.SysRole">
		<id column="role_id" property="roleId" javaType="java.lang.Double" jdbcType="DOUBLE"/>
		<result column="role_code" property="roleCode" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="role_name" property="roleName" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="description" property="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" javaType="cn.org.ferry.mybatis.enums.IfOrNot"
				typeHandler="cn.org.ferry.mybatis.handlers.IfOrNotHandler"/>
	</resultMap>

	<select id="obtainEnabledRolesByPattern" resultType="string">
		select sr.ROLE_CODE
		from SYS_ROLE sr
		where sr.ENABLED_FLAG = 'Y'
		  and exists(select 1
					 from SYS_ROLE_AUTHORITY_RELATION srar,
						  SYS_AUTHORITY sa
					 where srar.ENABLED_FLAG = 'Y'
					   and srar.ROLE_CODE = sr.ROLE_CODE
					   and srar.AUTHORITY_CODE = sa.AUTHORITY_CODE
					   and sa.ENABLED_FLAG = 'Y'
					   and exists(select 1
								  from SYS_RESOURCE resource,
									   SYS_AUTHORITY_RESOURCE_REL sarr
								  where resource.ENABLED_FLAG = 'Y'
									and resource.RESOURCE_TYPE = #{type}
									and resource.RESOURCE_PATH = #{pattern}
									and resource.RESOURCE_ID = sarr.RESOURCE_ID
									and sarr.AUTHORITY_CODE = sa.AUTHORITY_CODE
									and sarr.ENABLED_FLAG = 'Y'))
	</select>
	
	<select id="queryAllEnabledRoleCode" resultType="string">
		select sr.ROLE_CODE
		from SYS_ROLE sr
		where sr.ENABLED_FLAG = 'Y'
	</select>
</mapper>
