<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.org.ferry.sys.mapper.SysResourceMapper">
	<resultMap id="BaseResultMap" type="cn.org.ferry.sys.dto.SysResource">
		<id column="resource_id" property="resourceId" javaType="java.lang.Long" jdbcType="BIGINT"/>
		<result column="path" property="path" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="description" property="description" javaType="java.lang.String" jdbcType="VARCHAR"/>
		<result column="enabled_flag" property="enabledFlag" jdbcType="VARCHAR" javaType="cn.org.ferry.mybatis.enums.IfOrNot"
				typeHandler="cn.org.ferry.mybatis.handlers.IfOrNotHandler"/>
	</resultMap>
	
	<!--<cache type="cn.org.ferry.mybatis.cache.RedisCache"/>-->
	
	<select id="queryAllEnabledResource" resultType="string" >
		select r.PATH
		from SYS_RESOURCE r
		where r.ENABLED_FLAG = 'Y'
	</select>
</mapper>
